

@{
    ViewBag.Title = "Listele";
}

@using SehirOtomasyonuMvc.Models
@{
    Layout = null;
}

@model IEnumerable<Sehir>

<h2>Listele</h2>

<table style="border:1px solid black">
    <thead>
        <tr>
            <th>SehirAd</th>
            <th>TarihiEser</th>
        </tr>

    </thead>
    <tbody style="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SehirAd</td>
                <td>@item.TarihiEser</td>
            </tr>
        }
    </tbody>
</table>
}