

@{
    ViewBag.Title = "Listele";
}

@using SehirOtomasyonuMvc.Models.ViewModel
@{
    Layout = null;
}

@model IEnumerable<Bolge>

<h2>Listele</h2>

<table style="border:1px solid black">
    <thead>
        <tr>
            <th>BolgeAd</th>

        </tr>

    </thead>
    <tbody style="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BolgeAd</td>
                
            </tr>
        }
    </tbody>
</table>
}